@font-face{
    font-family: "Stylish";
    src: url("../assets/fonts/Stylish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Roboto Mono";
    src: url("../assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body{
    background-color: #FFFAF2;
    margin: 0;
    height: 100vh;
    font-family: "Stylish";
}

#contactPageTitle{
    color: #655CB3;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 3%;
    font-family: "Roboto Mono";
}

.contactPostcard{
    background: white;
    width: 60vw;
    height: 60vh;
    padding: 2%;
    margin: 4% auto;
    display: flex;
    border-radius: 8px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.contactForm{
    flex: 1;
    padding: 2%;
}

.contactForm textarea{
    overflow-y: auto;  
    resize: none;     
}

.contactForm input, 
.contactForm textarea{
    width: 100%;
    padding: 8px;
    margin-top: 1%;
    margin-bottom: 3%;
    border: 0.5px solid #333;
    border-radius: 5px;
    font-size: 1vw;
    font-family: 'Roboto Mono';
    background: #FAF8F8;
    outline: none;
}

.contactForm input:focus, 
.contactForm textarea:focus {
    border-color: #655CB3;
}

#fullName:invalid:user-invalid,
#email:invalid:user-invalid,
#message:invalid:user-invalid {
    border: 1px solid rgb(196, 28, 28);
}

#fullName:valid,
#email:valid,
#message:valid{
    border: 1px solid green;
}

#phoneNumber:not(:placeholder-shown):valid {
    border: 1px solid green;
}

#phoneNumber:not(:placeholder-shown):invalid {
    border: 1px solid rgb(196, 28, 28);
}

.contactForm label{
    font-size: 1.6vw;
}

.send-button{
    background-color: #655CB3;
    color: white;
    font-family: "Stylish";
    font-size: 1.3vw;
    padding: 0.5% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 2%;
}

.send-button:hover{
    background-color: #5449A3;
}

.required{
    color: red;
    font-weight: normal;
    margin-left: 5px;
}

output{
    display: block;
    font-size: 1rem;
    color: red;
    margin-top: 10px;
}

.contactVerticalHr{
    border-left: 1px solid black; 
    max-height: 80%; 
    align-self: stretch;
    margin: 0 2.5vw;
    margin-top: 10%;
}

.recipientSide{
    flex: 0.8;
    padding: 2%;
    text-align: left;
}

.address{
    position: absolute;
    bottom: 20%;
}

#contactTo{
    font-size: 1.8vw;
    margin-bottom: 5%;
}

.address p{
    margin: 5px 0;
    font-size: 1.5vw;
}

.stamp{
    position: absolute;
    top: 3%;
    right: 2%;
}

.stamp img {
    width: 10vw;
}

.error-inline{
    color: rgb(187, 31, 31);
    font-size: 0.7em;
    margin-left: 1%;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
  }

  .error-inline.visible{
    opacity: 1;
  }

  .flash-error{
    animation: flash 4s ease-in-out;
  }

  @keyframes flash{
    0% { background-color: #f3cece; }
    50% { background-color: #ffffff; }
    100% { background-color: #f7bebe; }
  }
