@font-face{
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata-VariableFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: "Gaegu";
    src: url("/fonts/Gaegu-Regular.ttf") format("truetype");
    font-weight: 400; 
}

@font-face{
    font-family: "Finger Paint";
    src: url("/fonts/FingerPaint-Regular.ttf") format("truetype");
    font-weight: 400; 
}

body{
    background-color: #FFFAF2;
    margin: 0;
    height: 100vh;
}

.homePageCardContainer{
    margin-top: 5%;
}

.homeCardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.address{
    order: 1;
    font-family: "Inconsolata", serif;
    margin-left: 2%;
    line-height: 0.5;
    font-size: 1rem;
}

#myName{
    font-weight: 600;
    font-size: 1rem;
}

#homeCardTitle{
    order: 2;
    font-family: "Finger Paint";
    color: #079895;
    font-size: 2.5rem;
    transform: translateX(-2vw);
}

.home-stamp{
    order: 3;
    position: relative;
    width: 15vw;
    height: 15vw;
    right: 2vw; 
    top: 0; 
}

#homeStampOutline{
    width: 13vw;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;

} 

#homeStampSquiggle{
    width: 15vw;
    transform: rotate(-4deg) translateY(1%);
    z-index: 2;  
    position: absolute;
    right: 7vw;
}

#homeStampProfile{
    width: 8.5vw;
    z-index: 3;
    position: absolute;
    right: 2.5vw;
    margin-top: 13%;
}

.homeContentBody{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    margin: 4%;
}

.sectionHeaders{
    font-size: 4vh;
    font-family: "Inconsolata";
}

.aboutMe{
    order: 1;
    flex: 2;
}

#about-description{
    font-family: "Inconsolata", serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.vertical-hr {
    order: 2;
    border-left: 1px solid black; 
    height: auto;
    min-height: 100%; 
    align-self: stretch;
    margin: 0 5vw;
}

.directory{
    order: 3;
    flex: 2;
    text-align: left;
}

.directory nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.directory nav a {
    text-decoration: none;
    color: black;
    font-family: "Gaegu";
    font-size: 1.85rem;
    text-align: center;
    display: block; 
    border-bottom: 1px solid black; 
    width: 65%; 
    margin: 0 auto; 
}

#resumeLink:hover{
    color:#D268AC;
}

#projectsLink:hover{
    color:#90C28B;
}

#caseStudiesLink:hover{
    color:#3998D3;
}

#extraLink:hover{
    color:#B0081F;
}

.socialBar{
    display: flex;
    justify-content: center; 
    margin-top: 3%;
    gap: 7%;
}

.socialBar img{
    width: 3.5vw;
}