@font-face{
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body{
    background-color: #FFFAF2;
    font-family: 'Roboto Mono';
    font-weight: light;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.resumeHeaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #resumePageTitle{
    font-size: 3vw;
    color: #D268AC; 
    font-weight: 600;
    margin-bottom: 1%;
}

#resumeDoc{
    display: block;
    text-align: start;
    font-size: 1vw;
    color: black;
    text-decoration: none;
}

#resumeDoc:hover {
    color: #1f38d6;
} 

main{
    width: 90%;
    margin: auto;
    max-width: 900px;
    display: block;
    margin-top: 5%;
}

.educationSection, 
.experienceSection,
.projectsSection,
.skillsSection{
    display: grid;
    grid-template-columns: 15% 70%;
    align-items: start; 
    column-gap: 5%;
}

h2{
    font-size: 1.1vw;
    color: #070606;
    font-weight: bold;
    text-align: left;
}

.educationContent,
.experienceContent{
    font-size: 1.1vw;
}

i{
    font-size: 1vw;

}

#college,
summary{
    font-weight: bold;
    margin-bottom: 0;
}

#gradDate,
#experienceDate,
#experienceLoc,
#projectsDate{
    font-size: 0.85vw;
    color: rgb(100, 98, 98);
    margin-top: 0.5%;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

#coursework li,
#programmingLang li,
#tools li,
#spokenLang li{
    background-color: #EAEAEA;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 0.8vw;
}

.bulletList {
    margin-top: 0.2rem; 
    padding-left: 1.5rem;
    font-size: 0.95vw;
    list-style-type: disc;
}

#expOne,
#expTwo{
    margin-bottom: 1.5%;
}

/* h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #666;
} */

/* p {
    font-size: 1.1rem;
    margin: 5px 0;
} */


/* 
strong {
    font-size: 1.2rem;
} */



/* ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    margin-bottom: 1.5rem;
}  */

/* 
i {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
} */

/* .experienceSection p,
.projectsSection p {
    font-size: 1rem;
    margin-left: 1rem;
} */

/* @media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        width: auto;
        padding: 5px 10px;
    }
} */
